.base {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  border-radius: 40px;
  font-weight: 400;
}

.base:hover {
  cursor: pointer;
}

.default {
  background-color: var(--primary);
  color: var(--foreground-primary);
}

.default:hover {
  background-color: var(--color-purple-600);
}

.outline {
  box-shadow: 0 0 0 1px var(--primary);
  color: var(--foreground-primary);
}

.outline:hover {
  background-color: var(--primary-10);
  color: var(--color-purple-300);
}

.ghost {
  color: var(--foreground-primary);
}

.ghost:hover {
  color: var(--color-purple-300);
}

.ghost:active {
  box-shadow: 0 0 0 1px var(--primary);
  background-color: var(--primary-25);
  color: var(--color-purple-300);
}

.smDefault {
  font-size: 0.75rem;
  gap: 4px;
  padding: 7px 16px;
}

.smTall {
  font-size: 0.75rem;
  gap: 4px;
  padding: 9px 16px;
}

.mdDefault {
  font-size: 0.875rem;
  gap: 8px;
  padding: 9.5px 16px;
}

.mdTall {
  font-size: 0.875rem;
  gap: 8px;
  padding: 13.5px 16px;
}

.lgDefault {
  font-size: 1rem;
  gap: 8px;
  padding: 14px 24px;
}

.lgTall {
  font-size: 1rem;
  gap: 8px;
  padding: 16px 24px;
}
