@use "../../../styles" as *;

.intro {
  display: flex;
  align-items: center;

  @include header;

  h2 {
    font-size: 1.5rem;
    text-transform: capitalize;
  }

  p {
    font-size: 1rem;
    color: var(--foreground-secondary);
    text-align: center;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    gap: 8px;
    padding-top: 8px;

    button {
      width: 100%;
    }
  }
}

// Sm Breakpoint
@media (min-width: 640) {
  .intro {
    width: 450px;

    section {
      flex-direction: row;

      button {
        width: fit-content;
      }
    }
  }
}

// Tablet View
@media (min-width: 768px) {
  .intro {
    width: 500px;
  }
}

// Laptop View
@media (min-width: 1024px) {
  .intro {
    width: 550px;

    h1 {
      font-size: 4.5rem;
      line-height: 1;

      span {
        background: linear-gradient(to right, var(--title-text), gray);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        background-clip: text;

        color: transparent;
      }
    }

    h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    section {
      padding-top: 2rem;
      gap: 1rem;
    }
  }
}

// Desktop View
@media (min-width: 1280px) {
  .intro {
    width: 600px;
  }
}

// Large Desktop
@media (min-width: 1536px) {
  .intro {
    width: 650px;
  }
}
