@use "../../styles" as *;

.contact {
  display: grid;
  grid-template-columns: 1fr;
  height: fit-content;
  gap: $space-md;
  padding: 2rem 0;

  @include header;

  padding: 1rem;

  p {
    color: var(--secondary-text);
  }

  div {
    width: 100%;
    padding: $space-md;
    border-radius: $radius-lg;
  }
}

@include responsiveness($breakpoint-sm) {
  .contact {
    grid-template-columns: 1fr 1fr;

    // prettier-ignore
    grid-template-areas: 
      "header header"
      "paragraph paragraph"
      "email message"
      "phone message"
      "location message";

    h1 {
      grid-area: header;
    }

    p {
      grid-area: paragraph;
    }

    div:first-of-type {
      grid-area: email;
    }

    div:nth-of-type(2) {
      grid-area: phone;
    }

    div:nth-of-type(3) {
      grid-area: location;
    }

    div:last-of-type {
      grid-area: message;
    }
  }
}

@include responsiveness($breakpoint-sm) {
  .contact {
    scroll-margin-top: 84px;
  }
}

@include responsiveness($breakpoint-tablet) {
  .contact {
    padding: 2rem 2rem;
  }
}

@include responsiveness($breakpoint-laptop) {
  .contact {
    padding: 2rem 3rem;
  }
}

@include responsiveness($breakpoint-desktop) {
  .contact {
    padding: 2rem 4rem;
  }
}

@include responsiveness($breakpoint-large-desktop) {
  .contact {
    padding: 2rem 5rem;
  }
}
