.about {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "profile description";


    .profile {
        grid-area: profile;
        display: flex;
        /* width: 100%;
        height: 0; */
        position: relative;
        clip-path: polygon(0 0, 100% 0, 51% 100%, 0% 100%);
        /* background-color: blue; */

        img {
            width: auto;
            height: auto;
            object-fit: cover;
        }
    }

    .description {
        grid-area: description;
        /* background-color: yellow; */
    }
}