@use "../../styles" as *;

.home {
  display: flex;
  justify-content: center;
  height: 100vh;

  position: relative;

  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 0%,
    rgb(229, 231, 235, 0.1) 50%,
    transparent 80%
  );

  .status {
    position: absolute;
    top: 7%;

    align-items: center;
    gap: 12px;

    &::before {
      @include circle;
    }
  }

  span {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 15%;

    font-size: 2rem;
    line-height: 0.8;

    color: var(--primary);

    h1 {
      font-size: 5rem;
      padding-bottom: 0.2em;

      background: linear-gradient(
        135deg,
        #e5e7eb 0%,
        var(--color-stone-800) 50%,
        transparent 100%
      );

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      background-clip: text;
    }
  }

  .card1 {
    position: absolute;
    padding: 1rem;
    margin: 1rem;
    bottom: calc(48px + 8px + 50px + 8px);

    z-index: 1;

    p {
      text-align: justify;
      font-size: 14px;
    }
  }

  .card2 {
    position: absolute;
    padding: 1rem;
    margin: 1rem;
    bottom: calc(48px + 8px);
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: center;

    transition: all ease 0.3s;

    p {
      font-size: 12px;
    }

    svg {
      transition: transform 0.3s ease;
    }

    &:hover {
      cursor: pointer;
      color: var(--primary);

      box-shadow: 0 0 0 1px var(--primary);

      svg {
        transform: translate(2px, -2px);
      }
    }
  }

  .buttonWrapper {
    position: absolute;
    bottom: 1rem;
    z-index: 1;

    display: flex;
    gap: 0.5rem;

    button:not(button:first-of-type) {
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);

      background-color: var(--navbar);
    }

    // Projects Button
    button:nth-child(2) {
      svg {
        transition: transform 0.3s ease;
      }

      &:hover {
        svg {
          transform: translate(2px, -2px);
        }
      }
    }
  }

  .profileWrapper {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;

    .roleWrapper {
      position: absolute;
      top: 30%;
      z-index: 1;

      height: 20%;
      width: calc(100% - 1rem);

      .role-0,
      .role-1,
      .role-2 {
        position: absolute;
      }

      .role-0 {
        background-color: var(--color-blue-700);
        color: var(--color-blue-100);

        animation: floatUpDown 3s ease-in-out infinite;
      }

      .role-1 {
        top: 39%;
        right: 30%;

        background-color: var(--color-emerald-700);
        color: var(--color-emerald-100);

        animation: floatUpDown 3s ease-in-out 0.5s infinite;
      }

      .role-2 {
        bottom: 0;
        right: 15%;

        background-color: var(--color-purple-700);
        color: var(--color-purple-100);

        animation: floatUpDown 3s ease-in-out 1s infinite;
      }
    }

    img {
      height: 90%;
      width: 100%;
      object-fit: cover;

      position: absolute;
      bottom: -60px;
    }
  }
}

:global(.dark) .home {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.15) 0%,
    transparent 100%
  );

  .status {
    box-shadow: 0 0 30px 2px var(--primary-10);
  }

  h1 {
    background: linear-gradient(
      135deg,
      var(--color-stone-800) 0%,
      #e5e7eb 50%,
      transparent 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
  }

  .roleWrapper {
    // Full Stack
    .role-0 {
      background-color: var(--color-blue-600);
      box-shadow: 0 0 8px 2px hsl(221, 83%, 53%, 0.4);
    }

    // Mobile Dev
    .role-1 {
      background-color: var(--color-emerald-600);
      box-shadow: 0 0 8px 2px hsl(161, 94%, 30%, 0.4);
    }

    // UI/UX
    .role-2 {
      background-color: var(--color-purple-600);
      box-shadow: 0 0 8px 2px hsl(271, 81%, 56%, 0.4);
    }
  }
}

@keyframes floatUpDown {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }
}

@include responsiveness($breakpoint-mobile-medium) {
  .home {
    .profileWrapper {
      .roleWrapper {
        width: 350px;
      }
    }
  }
}

@include responsiveness($breakpoint-tablet) {
  .home {
    padding: 0 2rem;
  }
}

/*
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // height: 100vh;
  height: fit-content;
  min-width: 320px;
  width: 100vw;

  padding: calc(84px + 1rem) 1rem 50px 1rem;

  gap: 2rem;
  overflow-x: hidden;
}

@include responsiveness($breakpoint-laptop) {
  .home {
    display: grid;
    grid-template-columns: 1fr 1fr;

    height: 100vh;

    padding: calc(84px + 1rem) 2rem 50px 2rem;

    section:not(.home div section) {
      grid-column-start: 2;
      grid-row-start: 1;

      justify-self: end;
    }

    div {
      grid-column-start: 1;
      grid-row-start: 1;
      // background-color: transparent;

      align-items: start;
      width: 100%;

      p {
        text-align: left;
      }

      section {
        justify-content: start;
      }
    }
  }
}
*/
