.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: fit-content;
  min-width: 320px;
  width: 100vw;

  padding: calc(84px + 1rem) 0 50px 0;

  gap: 2rem;
  overflow-x: hidden;
}
