@use "./../../styles" as *;

.techStack {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;

  @include header;

  padding: 2rem 1rem;

  h2 {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
  }

  .content {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 1rem;

    // Card
    div {
      width: 100%;
      height: 100%;
      gap: 2rem;

      .techStackWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        div {
          height: fit-content;
          width: fit-content;
        }
      }
    }
  }
}

@include responsiveness($breakpoint-sm) {
  .techStack {
    scroll-margin-top: 84px;
  }
}

@include responsiveness($breakpoint-tablet) {
  .techStack {
    padding: 2rem 2rem;
  }
}

@include responsiveness($breakpoint-laptop) {
  .techStack {
    padding: 2rem 3rem;
    .content {
      grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
  }
}

@include responsiveness($breakpoint-desktop) {
  .techStack {
    padding: 2rem 4rem;
  }
}

@include responsiveness($breakpoint-large-desktop) {
  .techStack {
    padding: 2rem 5rem;
  }
}
