.page-layout {
    display: grid;
    width: 100%;
    height: 100vh;

    grid-template-rows: 70px 1fr;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "main";

    main {
        section {
            height: 100vh;
        }

        .home-section,
        .project-section,
        .contact-section {
            padding: 70px 32px 0 32px;
        }

        .home-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            gap: 20px;

            h1 {
                font-size: 3rem;
                font-weight: 600;
            }

            h2 {
                font-size: 2rem;
                font-weight: 400;
            }

            p {
                font-size: 1rem;
                font-weight: 400;
            }

            button {
                padding: 10px 20px;
                border-radius: 5px;
                border: none;
                background-color: var(--foreground);
                color: var(--background);
                cursor: pointer;
            }
        }
    }
}