@use "../../../styles" as *;

.card {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70%;

  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    height: 100%;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .content {
      background-color: blue;
      display: flex;
      flex-shrink: 0;
      width: 80%;
      border-radius: 40px;

      scroll-snap-align: center;

      animation: pop-up linear both;
      animation-timeline: view(x);
    }

    .content:first-child {
      margin-left: 5rem;
    }

    .content:last-child {
      margin-right: 5rem;
    }
  }

  .bar {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    background-color: var(--color-neutral-800);
    gap: 0.5rem;
    border-radius: 40px;

    position: absolute;

    bottom: 13%;
    padding: 1rem;

    div {
      background-color: var(--primary);
      width: 8px;
      height: 8px;

      border-radius: 40px;
      cursor: pointer;
      opacity: 0.5;

      transition: all ease 0.5s;
    }

    .active {
      width: 2rem;
      cursor: default;
      opacity: 1;
    }
  }
}

@keyframes pop-up {
  0% {
    transform: scale(0.5) rotate(20deg);
    opacity: 0.3;
  }
  50% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(0.5) rotate(-20deg);
    opacity: 0.3;
  }
}

@include responsiveness($breakpoint-sm) {
  .card {
    .wrapper {
      .content {
        width: calc(100% / 3);
      }

      .content:first-child {
        margin-left: 100rem;
      }

      .content:last-child {
        margin-right: 100rem;
      }
    }
  }
}
