@use "./.../../../../../../styles" as *;

.tabContent {
  height: 100%;
  width: 100%;

  //   background-color: red;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
  // box-shadow: 0 0 0 1px var(--primary);

  border-radius: 32px;
  // margin: 1rem !important;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;

  .imageWrapper {
    position: absolute;
    height: 100%;
    width: 100%;

    border-radius: 32px;

    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .content {
    position: absolute;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.5);

    height: 100%;
    width: 100%;

    border-radius: 32px;
    margin: 0;
    padding: 1rem 0;
    gap: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    // Tab (Overview, Features, Images)
    div:first-child:not(.techStack div) {
      margin-left: 1rem;
      position: absolute;
      top: 1rem;
    }

    .textWrapper {
      display: flex;
      flex-direction: column;
      min-height: calc(100% - fit-content);
      max-height: 100%;
      width: calc(100% - 5px);

      margin-top: 38px;
      padding: 0 1rem;

      overflow: auto;

      h1 {
        font-weight: 600;
        flex-wrap: wrap;
      }

      p {
        font-size: 14px;
      }
    }

    .techStack {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      padding: 0 1rem;
      gap: $space-sm;
    }

    button {
      width: calc(100% - 2rem);
      margin: 0 1rem;
    }
  }
}
