@use "../../../styles" as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: $space-md;
  gap: $space-md;

  background: var(--primary);

  section {
    display: flex;
    flex-direction: row;
    gap: $space-sm;
  }
}
