@use "../../../styles" as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: $space-md $space-md calc(88px + 32px) $space-md;
  gap: $space-md;

  background: var(--primary);

  p {
    color: var(--color-neutral-50);
  }

  section {
    display: flex;
    flex-direction: row;
    gap: $space-sm;

    svg {
      cursor: pointer;
      transition: transform 0.3s ease;

      g {
        transition: fill 0.3s ease;
      }

      &:hover {
        transform: scale(1.2);
      }
    }

    // Github icon
    svg:first-of-type:hover {
      @include social-icon-hover;

      g {
        fill: #181717;
      }
    }

    // Facebook icon
    svg:nth-of-type(2):hover {
      @include social-icon-hover;

      g {
        fill: #1877f2;
      }
    }

    // LinkedIn icon
    svg:last-of-type:hover {
      @include social-icon-hover;

      g {
        fill: #0a66c2;
      }
    }
  }
}

// Small Screen View
@include responsiveness($breakpoint-sm) {
  .footer {
    padding: $space-md;
  }
}
