@use "./../../../styles" as *;

.contactForm {
  form {
    display: grid;
    gap: $space-md;

    fieldset {
      display: flex;
      flex-direction: column;
      gap: $space-sm;

      label {
        font-weight: 600;

        &[data-error="true"] {
          color: red;
        }
      }

      p {
        color: var(--foreground-secondary);
      }

      input,
      .textWrapper {
        background-color: var(--color-stone-100);
        box-shadow: 0 0 0 1px var(--color-stone-200);

        padding: $space-sm $space-md;
        border-radius: $radius-md;

        &:focus {
          outline: none;
          box-shadow: 0 0 0 1px var(--primary);
        }

        &[data-error="true"] {
          box-shadow: 0 0 0 1px red;
        }
      }

      .textWrapper {
        height: 100px;
        margin-right: 1rem;
        padding: $space-sm 6px $space-sm $space-md;

        &:focus-within {
          box-shadow: 0 0 0 1px var(--primary);
        }

        &:has(textarea[data-error="true"]) {
          box-shadow: 0 0 0 1px red;
        }

        textarea {
          width: 100%;
          height: 100%;
          padding-right: $space-sm;

          outline: none;
          box-shadow: none;
          background-color: transparent;

          resize: none;

          &:focus {
            outline: none;
          }
        }
      }

      span {
        color: red;
      }
    }

    button {
      width: 100%;
      margin-top: 0.5rem;
    }
  }
}

:global(.dark) .contactForm {
  input,
  textarea,
  .textWrapper {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
  }
}
