@use "./../../../styles" as *;

.contactForm {
  form {
    display: grid;
    gap: $space-md;

    fieldset {
      display: flex;
      flex-direction: column;
      gap: $space-sm;

      label {
        font-weight: 600;

        &[data-error="true"] {
          color: red;
        }
      }

      p {
        color: var(--foreground-secondary);
      }

      input,
      textarea {
        background-color: var(--color-stone-100);
        box-shadow: 0 0 0 1px var(--color-stone-200);

        padding: $space-sm $space-md;
        border-radius: $radius-md;

        &:focus {
          outline: none;
          box-shadow: 0 0 0 1px var(--primary);
        }

        &[data-error="true"] {
          box-shadow: 0 0 0 1px red;
        }
      }

      span {
        color: red;
      }
    }

    button {
      width: 100%;
      margin-top: 0.5rem;
    }
  }
}

:global(.dark) .contactForm {
  input,
  textarea {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
  }
}
