@import "tailwindcss";

:root {
  --background: #ffffff;

  --primary: oklch(49.6% 0.265 301.924);
  --primary-25: oklch(49.6% 0.265 301.924 / 0.25);
  --foreground: var(--color-neutral-50);

  /* Card */
  --background-card: hsl(0, 0%, 5%);
  --border-card: hsl(0, 0%, 50%);

  /* Text */
  --primary-text: oklch(98.5% 0 0);
  --secondary-text: oklch(87% 0 0);
}

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
*/

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(55deg, rgba(59, 7, 100, 1) 0%, rgba(41, 37, 36, 1) 100%);

    --primary: oklch(49.6% 0.265 301.924);

    /* Card */
    --background-card: hsl(0, 0%, 5%);
    --border-card: hsl(0, 0%, 50%);

    /* Text */
    --primary-text: oklch(14.5% 0 0);
    --secondary-text: oklch(37.1% 0 0);
  }
}

body {
  background: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}