@import "tailwindcss";


:root {
  --background: #f5f5f7;
  --primary: var(--color-purple-700);
  --primary-25: oklch(49.6% 0.265 301.924 / 0.25);
  --primary-10: oklch(49.6% 0.265 301.924 / 0.1);
  --foreground-primary: var(--color-neutral-50);
  --foreground-secondary: var(--color-neutral-200);
  --foreground-outline: var(--color-neutral-950);

  /* Card */
  --background-card: hsl(0, 0%, 100%);
  --border-card: hsl(0, 0%, 100%, 0.5);

  --navbar: hsl(0, 0%, 100%, 0.3);

  /* Text */
  --primary-text: var(--color-stone-800);
  --secondary-text: var(--color-stone-600);
  --title-text: var(--color-purple-700);

  --project-bg-color: var(--color-neutral-50);
}

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
*/

.dark {
  --background: var(--color-stone-950);
  --primary: var(--color-purple-500);
  --foreground-primary: var(--color-neutral-50);
  --foreground-secondary: var(--color-neutral-200);
  --foreground-outline: var(--color-neutral-50);

  /* Card */
  --background-card: hsl(56, 2%, 11%, 0.3);
  --border-card: hsl(56, 2%, 11%, 0.5);

  --navbar: hsl(20, 14%, 4%, 0.3);

  /* Text */
  --primary-text: var(--color-neutral-50);
  --secondary-text: var(--color-neutral-300);
  --title-text: var(--color-purple-400);

  --project-bg-color: var(--color-stone-800);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 12px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-25);
}

/* End */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
  overflow-x: hidden;
  color: var(--primary-text);
  font-family: Arial, Helvetica, sans-serif;
}