.navigation {
  display: flex;
  justify-self: center;

  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);

  position: fixed;
  top: 24px;

  padding: 8px;
  border-radius: 40px;

  ul {
    display: flex;
    flex-direction: row;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 24px;
      border-radius: 40px;
      gap: 0.5rem;

      position: relative;

      span {
        display: none;
      }
    }

    a:hover {
      color: var(--color-purple-300);
    }

    .active {
      box-shadow: 0 0 0 1px var(--primary);
      background-color: var(--primary-25);

      color: var(--color-purple-300);
    }
  }
}

// Tablet View
@media (min-width: 768px) {
  .navigation {
    ul {
      a {
        span {
          display: block;
        }
      }
    }
  }
}

// Laptop View
@media (min-width: 1024px) {
  //
}

// Desktop View
@media (min-width: 1280px) {
  //
}

// Large Desktop
@media (min-width: 1536px) {
  //
}
