.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 24px;
    position: fixed;
    top: 0;
    z-index: 100;

    width: calc(100% - 100px);
    height: 80px;

    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border-radius: 0 0 40px 40px;
}

.navbar h1 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-title);
}

.navbar .links {
    display: flex;
    color: #d4d4d4;
    gap: 8px;
}

.navbar .links a {
    padding: 10px 24px;
    border-radius: 50px;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease;
}

.navbar .links a:hover:not(.active) {
    box-shadow: 0 0 0 1px var(--btn-primary);
}

.navbar .links a.active {
    background-color: var(--btn-secondary-hover);
    box-shadow: 0 0 0 1px var(--btn-primary);
    color: #D8B4FE;
}