.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 32px;
    position: fixed;
    top: 0;
    z-index: 100;

    width: 100%;
    height: 70px;

    background-color: yellow;

    h1 {
        font-size: 1rem;
        font-weight: 600;
    }
}

.navbar .links {
    display: flex;
    gap: 25px;
}