@use "./../../../styles/" as *;

.contact {
  display: grid;
  grid-template-columns: 1fr;
  height: fit-content;
  gap: $space-md;
  padding: 14rem 1rem 5rem 1rem;

  position: relative;

  @include title-section("contact");

  @include header {
    z-index: 1;
  }

  h1 {
    display: flex;
    justify-content: center;
  }

  p {
    color: var(--secondary-text);

    z-index: 1;
  }

  div {
    width: 100%;
    height: 100%;
    padding: $space-md;
    border-radius: $radius-lg;

    position: relative;
    z-index: 1;

    // Last Icon
    .copyIcon {
      position: absolute;
      right: 1rem;
      cursor: pointer;

      opacity: 0.5;
      transform: scale(0.8);

      transition: all ease 0.3s;

      &:hover {
        opacity: 0.8;
        transform: scale(0.9);
      }

      &:active {
        opacity: 1;
        color: var(--primary);
        transform: scale(1);
      }
    }
  }
}

@include responsiveness($breakpoint-sm) {
  .contact {
    grid-template-columns: 1fr 1fr;

    // prettier-ignore
    grid-template-areas: 
      "header message"
      "paragraph message"
      "email message"
      "phone message"
      "location message";

    // Contact Text
    &::before {
      top: 10%;
    }

    h1 {
      grid-area: header;

      justify-content: start;
    }

    p {
      grid-area: paragraph;
    }

    .card {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }

    div:first-of-type {
      grid-area: email;
    }

    div:nth-of-type(2) {
      grid-area: phone;
    }

    div:nth-of-type(3) {
      grid-area: location;
    }

    div:last-of-type {
      grid-area: message;
    }
  }
}

@include responsiveness($breakpoint-tablet) {
  .contact {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@include responsiveness($breakpoint-laptop) {
  .contact {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@include responsiveness($breakpoint-desktop) {
  .contact {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@include responsiveness($breakpoint-large-desktop) {
  .contact {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
