@use "./../../../styles/" as *;

.contact {
  display: grid;
  grid-template-columns: 1fr;
  height: fit-content;
  gap: $space-md;
  padding: 14rem 1rem 5rem 1rem;

  position: relative;

  // Circle Gradient
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    background: radial-gradient(
      circle at top,
      hsl(271, 91%, 65%, 0.5) 0%,
      var(--background) 50%
    );

    position: absolute;
    top: 0;
  }

  // Contact Text
  &::before {
    content: "contact";
    text-transform: uppercase;
    font-size: clamp(7rem, 30vw, 12rem);
    font-weight: 400;
    font-family: var(--font-bebas), sans-serif;

    place-self: center;

    color: hsl(271, 91%, 65%, 0.5);
    text-shadow: 0 0 30px hsl(271, 91%, 65%, 0.15);

    -webkit-mask-image: linear-gradient(
      to bottom,
      hsl(271, 91%, 65%) 0%,
      transparent 90%
    );
    mask-image: linear-gradient(
      to bottom,
      hsl(271, 91%, 65%) 0%,
      transparent 90%
    );

    position: absolute;
    top: 5%;
  }

  @include header {
    // justify-self: center;

    z-index: 1;
  }

  h1 {
    display: flex;
    justify-content: center;
  }

  p {
    color: var(--secondary-text);

    z-index: 1;
  }

  div {
    width: 100%;
    height: 100%;
    padding: $space-md;
    border-radius: $radius-lg;

    z-index: 1;
  }
}

@include responsiveness($breakpoint-sm) {
  .contact {
    grid-template-columns: 1fr 1fr;

    // prettier-ignore
    grid-template-areas: 
      "header message"
      "paragraph message"
      "email message"
      "phone message"
      "location message";

    // Contact Text
    &::before {
      top: 10%;
    }

    h1 {
      grid-area: header;

      justify-content: start;
    }

    p {
      grid-area: paragraph;
    }

    div:first-of-type {
      grid-area: email;
    }

    div:nth-of-type(2) {
      grid-area: phone;
    }

    div:nth-of-type(3) {
      grid-area: location;
    }

    div:last-of-type {
      grid-area: message;
    }
  }
}

@include responsiveness($breakpoint-tablet) {
  .contact {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@include responsiveness($breakpoint-laptop) {
  .contact {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@include responsiveness($breakpoint-desktop) {
  .contact {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@include responsiveness($breakpoint-large-desktop) {
  .contact {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
