@use "./../../../styles/" as *;

.project {
  display: grid;
  grid-template-columns: 1fr;
  gap: $space-md;
  padding: 20rem 1rem 5rem 1rem;

  justify-items: center;

  height: fit-content;

  position: relative;

  @include circle-gradient;

  h1 {
    font-size: clamp(6rem, 30vw, 12rem);
    font-family: var(--font-bebas), sans-serif;

    position: absolute;

    top: 2.5%;
    left: 50%;
    transform: translate(-50%, 50%);

    line-height: 0.8;

    color: hsl(0, 0%, 0%, 0.5);
    text-shadow: 0 0 30px hsl(0, 0%, 0%, 0.15);

    -webkit-mask-image: linear-gradient(
      to bottom,
      hsl(0, 0%, 0%) 50%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to bottom,
      hsl(0, 0%, 0%) 50%,
      transparent 100%
    );
  }

  .tab {
    display: flex;
    padding: 8px;

    border-radius: 40px;

    background-color: var(--background);
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.03),
      0 6px 16px rgba(0, 0, 0, 0.05);

    position: sticky;
    top: 1rem;
    z-index: 2;

    button {
      color: var(--color-neutral-400);
      text-transform: capitalize;
      span {
        opacity: 0.5;
      }
    }

    .active {
      background-color: var(--primary);
      color: white;
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: $space-md;

    z-index: 1;

    // Card
    div:not(.buttonWrapper, .imageWrapper) {
      padding: 0;
      cursor: pointer;

      box-shadow: none;

      position: relative;

      &:hover {
        border: 1.4px solid var(--primary);
      }

      .buttonWrapper {
        display: none;
      }

      &:hover .buttonWrapper {
        display: block;
        height: 56px;
        width: 120px;

        background-color: var(--background);
        border-radius: 40px 0 0 0;
        border-top: 1.4px solid var(--primary);
        border-left: 1.4px solid var(--primary);

        position: absolute;
        bottom: -1.4px;
        right: -1px;
        z-index: 2;

        &::before {
          content: "";
          height: 25px;
          width: 40px;

          border-radius: 0 0 40px 0;
          background-color: transparent;
          border-bottom: 1.4px solid var(--primary);
          border-right: 1.4px solid var(--primary);

          box-shadow: 7px 7px var(--background);

          position: absolute;
          bottom: 0.1px;
          left: -39px;
        }

        &::after {
          content: "";
          height: 25px;
          width: 40px;

          border-radius: 0 0 40px 0;
          background-color: transparent;
          border-bottom: 1px solid var(--primary);
          border-right: 1px solid var(--primary);

          box-shadow: 17px 2px var(--background);

          position: absolute;
          top: -25;
          right: 0.1;
        }
      }

      .imageWrapper {
        overflow: hidden;
        border-radius: 32px;
        img {
          border-radius: $radius-xl;

          transition: 0.3s ease;
        }
      }

      &:hover .imageWrapper img {
        transform: scale(1.1);
      }

      button {
        display: none;

        animation: buttomUp 0.5s ease forwards;
      }

      &:hover button {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 3;
      }

      &::before {
        content: "";
        height: 100%;
        width: 100%;

        background: rgba(0, 0, 0, 0.5);
        border-radius: 32px;

        position: absolute;

        opacity: 0;

        z-index: 1;

        transition: 0.3s ease;
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }
}

:global(.dark) .project {
  h1 {
    color: hsl(271, 91%, 65%, 0.5);
    text-shadow: 0 0 30px hsl(271, 91%, 65%, 0.15);

    -webkit-mask-image: linear-gradient(
      to bottom,
      hsl(271, 91%, 65%) 50%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to bottom,
      hsl(271, 91%, 65%) 50%,
      transparent 100%
    );
  }
}

@keyframes buttomUp {
  0% {
    opacity: 0;
    transform: translateY(20);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@include responsiveness($breakpoint-sm) {
  .project {
    padding: calc(20rem + 64px) 1rem 5rem 1rem;

    &::after {
      background: radial-gradient(
        circle at top,
        hsl(220, 13%, 91%, 0.5) 0%,
        var(--background) 45rem
      );
    }

    :global(.dark) &::after {
      background: radial-gradient(
        circle at top,
        hsl(271, 91%, 65%, 0.5) 0%,
        var(--background) 45rem
      );
    }

    h1 {
      top: 0;
    }

    .tab {
      top: calc(24px + 64px + 1rem);
    }

    .content {
      margin-top: 5rem;
    }
  }
}

@include responsiveness($breakpoint-tablet) {
  .project {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@include responsiveness($breakpoint-laptop) {
  .project {
    padding-left: 3rem;
    padding-right: 3rem;

    h1 {
      transform: translate(-45%, 50%);
    }

    .content {
      grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
  }
}

@include responsiveness($breakpoint-desktop) {
  .project {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@include responsiveness($breakpoint-large-desktop) {
  .project {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
