@use "../../../styles" as *;

.navWrapper {
  display: flex;
  height: fit-content;
  width: 100%;

  justify-content: center;
  padding: 0 1rem;

  position: fixed;
  bottom: 24px;
  z-index: 100;

  left: 50%;
  transform: translate(-50%);

  .navigation {
    width: fit-content;

    opacity: 0;
    @include fade-down-animation;

    background: var(--navbar);
    box-shadow: 0 0 0 1px var(--border-card);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);

    padding: 8px;
    border-radius: 33px;

    overflow: auto;

    ul {
      display: flex;
      flex-direction: row;

      button {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        gap: 0.25rem;

        color: var(--color-neutral-400);
      }

      button:hover:not(.active) {
        color: var(--color-purple-500);
      }

      .active {
        background-color: var(--primary);
        color: var(--color-neutral-50);
      }
    }
  }
}

:global(.dark) .navigation {
  button:hover:not(.active) {
    color: var(--color-purple-300);
  }
}

// Small Screnn View
@include responsiveness($breakpoint-sm) {
  .navWrapper {
    top: 24px;

    .navigation {
      width: fit-content;

      border-radius: 40px;

      ul {
        button {
          border-radius: 40px;
          gap: 0.5rem;
        }
      }
    }
  }
}
