@use "../../../styles" as *;

.navigation {
  display: flex;
  justify-self: center;
  height: fit-content;

  background: var(--background-card);
  box-shadow: 0 0 0 1px var(--border-card);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);

  position: fixed;
  bottom: 24px;
  z-index: 100;

  padding: 8px;
  margin: 0 2rem;
  border-radius: 33px;

  overflow: auto;

  ul {
    display: flex;
    flex-direction: row;

    button {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border-radius: 25px;
      gap: 0.25rem;
    }

    button:hover {
      background-color: transparent;
      color: var(--primary);
    }

    .active,
    .active:hover {
      box-shadow: 0 0 0 1px var(--primary);
      background-color: var(--primary-25);

      color: var(--primary);
    }
  }
}

// Small Screnn View
@include responsiveness($breakpoint-sm) {
  .navigation {
    top: 24px;
    border-radius: 40px;

    ul {
      button {
        border-radius: 40px;
        gap: 0.5rem;
      }
    }
  }
}
