@use "variables" as *;

@mixin responsiveness($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin header {
  h1 {
    font-size: $header;
    color: var(--title-text);
    font-weight: 600;

    @content;
  }

  @content;
}

@mixin social-icon-hover {
  background-color: var(--foreground-primary);
  border-radius: $radius-sm;
  padding: 2px;

  @content;
}

@mixin circle {
  content: "";
  height: 6px;
  width: 6px;

  background-color: var(--primary);
  border-radius: 50%;

  box-shadow:
    0 0 0 3px var(--primary-25),
    0 0 0 6px var(--primary-25);

  @content;
}

@mixin circle-gradient {
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    background: radial-gradient(
      circle at top,
      hsl(220, 13%, 91%, 0.5) 0%,
      var(--background) 30rem
    );

    position: absolute;
    top: 0;
  }

  :global(.dark) &::after {
    background: radial-gradient(
      circle at top,
      hsl(271, 91%, 65%, 0.5) 0%,
      var(--background) 30rem
    );
  }
}

@mixin title-section($title) {
  @include circle-gradient();

  // Text
  &::before {
    content: $title;
    text-transform: uppercase;
    font-size: clamp(7rem, 30vw, 12rem);
    font-weight: 400;
    font-family: var(--font-bebas), sans-serif;

    place-self: center;

    color: hsl(0, 0%, 0%, 0.5);
    text-shadow: 0 0 30px hsl(0, 0%, 0%, 0.15);

    -webkit-mask-image: linear-gradient(
      to bottom,
      hsl(0, 0%, 0%) 0%,
      transparent 90%
    );
    mask-image: linear-gradient(to bottom, hsl(0, 0%, 0%) 0%, transparent 90%);

    position: absolute;
    top: 5%;
  }

  :global(.dark) &::before {
    color: hsl(271, 91%, 65%, 0.5);
    text-shadow: 0 0 30px hsl(271, 91%, 65%, 0.15);

    -webkit-mask-image: linear-gradient(
      to bottom,
      hsl(271, 91%, 65%) 0%,
      transparent 90%
    );
    mask-image: linear-gradient(
      to bottom,
      hsl(271, 91%, 65%) 0%,
      transparent 90%
    );
  }
}
