@use "variables" as *;

@mixin responsiveness($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin header {
  h1 {
    font-size: $header;
    color: var(--color-purple-400);
    font-weight: 600;
  }
}
