@use "variables" as *;

@mixin responsiveness($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin header {
  h1 {
    font-size: $header;
    color: var(--title-text);
    font-weight: 600;

    @content;
  }

  @content;
}

@mixin social-icon-hover {
  background-color: var(--foreground-primary);
  border-radius: $radius-sm;
  padding: 2px;

  @content;
}

@mixin circle {
  content: "";
  height: 6px;
  width: 6px;

  background-color: var(--primary);
  border-radius: 50%;

  box-shadow:
    0 0 0 3px var(--primary-25),
    0 0 0 6px var(--primary-25);

  @content;
}
