@use "./../../../styles/" as *;

.skills {
  display: grid;
  grid-template-columns: 1fr;
  gap: $space-md;
  padding: 20rem 1rem 5rem 1rem;

  position: relative;

  @include circle-gradient;

  h1 {
    font-size: clamp(6rem, 30vw, 12rem);
    font-family: var(--font-bebas), sans-serif;

    position: absolute;

    top: 2.5%;
    left: 50%;
    transform: translate(-50%, 50%);

    line-height: 0.8;

    color: hsl(0, 0%, 0%, 0.5);
    text-shadow: 0 0 30px hsl(0, 0%, 0%, 0.15);

    -webkit-mask-image: linear-gradient(
      to bottom,
      hsl(0, 0%, 0%) 50%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to bottom,
      hsl(0, 0%, 0%) 50%,
      transparent 100%
    );
  }

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;

    z-index: 1;

    h2 {
      text-transform: capitalize;
      font-size: 24px;
      font-weight: 600;
    }

    // Card
    div {
      width: 100%;
      height: 100%;
      gap: 2rem;

      .skillskWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        div {
          height: fit-content;
          width: fit-content;
        }
      }
    }
  }
}

:global(.dark) .skills {
  h1 {
    color: hsl(271, 91%, 65%, 0.5);
    text-shadow: 0 0 30px hsl(271, 91%, 65%, 0.15);

    -webkit-mask-image: linear-gradient(
      to bottom,
      hsl(271, 91%, 65%) 50%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to bottom,
      hsl(271, 91%, 65%) 50%,
      transparent 100%
    );
  }
}

@include responsiveness($breakpoint-sm) {
  .skills {
    &::after {
      background: radial-gradient(
        circle at top,
        hsl(220, 13%, 91%, 0.5) 0%,
        var(--background) 60%
      );
    }

    :global(.dark) &::after {
      background: radial-gradient(
        circle at top,
        hsl(271, 91%, 65%, 0.5) 0%,
        var(--background) 60%
      );
    }

    h1 {
      top: 0;
    }

    .content {
      margin-top: 5rem;
    }
  }
}

@include responsiveness($breakpoint-tablet) {
  .skills {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@include responsiveness($breakpoint-laptop) {
  .skills {
    padding-left: 3rem;
    padding-right: 3rem;

    h1 {
      transform: translate(-45%, 50%);
    }

    .content {
      grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
  }
}

@include responsiveness($breakpoint-desktop) {
  .skills {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@include responsiveness($breakpoint-large-desktop) {
  .skills {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
