@use "./../../../styles/" as *;

.skills {
  display: grid;
  grid-template-columns: 1fr;
  gap: $space-md;
  padding: 20rem 1rem 5rem 1rem;

  position: relative;

  @include circle-gradient;

  h1 {
    font-size: clamp(6rem, 30vw, 12rem);
    font-family: var(--font-bebas), sans-serif;

    position: absolute;

    top: 2.5%;
    left: 50%;
    transform: translate(-50%, 50%);

    line-height: 0.8;

    color: hsl(0, 0%, 0%, 0.5);
    text-shadow: 0 0 30px hsl(0, 0%, 0%, 0.15);

    -webkit-mask-image: linear-gradient(
      to bottom,
      hsl(0, 0%, 0%) 50%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to bottom,
      hsl(0, 0%, 0%) 50%,
      transparent 100%
    );
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    z-index: 1;

    // Card
    div {
      width: 100%;
      height: 100%;
      gap: 2rem;

      .header {
        display: flex;
        justify-content: space-between;

        h2 {
          text-transform: capitalize;
          font-size: 24px;
          font-weight: 600;

          font-family: var(--font-bebas), sans-serif;
        }

        svg {
          transition: transform 0.4s ease;
        }
      }

      transition: all 0.3s ease;

      // Card background color
      &:has([data-category="frontend"]) {
        background-color: var(--color-blue-100);
        color: var(--color-blue-600);
        box-shadow: none;

        &:hover {
          background-color: var(--background-card);
          box-shadow: 0 0 0 1px var(--color-blue-600) !important;
        }
      }

      &:has([data-category="backend"]) {
        background-color: var(--color-emerald-100);
        color: var(--color-emerald-600);
        box-shadow: none;

        &:hover {
          background-color: var(--background-card);
          box-shadow: 0 0 0 1px var(--color-emerald-600) !important;
        }
      }

      &:has([data-category="database"]) {
        background-color: var(--color-amber-100);
        color: var(--color-amber-600);
        box-shadow: none;

        &:hover {
          background-color: var(--background-card);
          box-shadow: 0 0 0 1px var(--color-amber-600) !important;
        }
      }

      &:has([data-category="mobile"]) {
        background-color: var(--color-purple-100);
        color: var(--color-purple-600);
        box-shadow: none;

        &:hover {
          background-color: var(--background-card);
          box-shadow: 0 0 0 1px var(--color-purple-600) !important;
        }
      }

      &:has([data-category="tools & deployment"]) {
        background-color: var(--color-gray-200);
        color: var(--color-gray-600);
        box-shadow: none;

        &:hover {
          background-color: var(--background-card);
          box-shadow: 0 0 0 1px var(--color-gray-600) !important;
        }
      }

      .skillskWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;

        position: relative;

        // Circle
        &:before {
          content: "";
          height: 10px;
          width: 10px;

          border-radius: 50%;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        // Circle color
        &[data-category="frontend"]::before {
          background-color: var(--color-blue-600);

          box-shadow:
            0 0 0 4px hsl(221, 83%, 53%, 0.25),
            0 0 0 8px hsl(221, 83%, 53%, 0.25);
        }

        &[data-category="backend"]::before {
          background-color: var(--color-emerald-600);

          box-shadow:
            0 0 0 4px hsl(161, 94%, 30%, 0.25),
            0 0 0 8px hsl(161, 94%, 30%, 0.25);
        }

        &[data-category="database"]::before {
          background-color: var(--color-amber-600);

          box-shadow:
            0 0 0 4px hsl(32, 95%, 44%, 0.25),
            0 0 0 8px hsl(32, 95%, 44%, 0.25);
        }

        &[data-category="mobile"]::before {
          background-color: var(--color-purple-600);

          box-shadow:
            0 0 0 4px hsl(271, 81%, 56%, 0.25),
            0 0 0 8px hsl(271, 81%, 56%, 0.25);
        }

        &[data-category="tools & deployment"]::before {
          background-color: var(--color-gray-400);

          box-shadow:
            0 0 0 4px hsl(218, 11%, 65%, 0.25),
            0 0 0 8px hsl(218, 11%, 65%, 0.25);
        }

        div {
          transition: all 0.5s ease;
          height: fit-content;
          width: fit-content;

          position: absolute;
          -webkit-user-select: none;
          user-select: none;
        }

        .frontend,
        .backend,
        .database,
        .mobile,
        .tools {
          box-shadow: none;
          color: white;
        }

        .frontend {
          background-color: var(--color-blue-600);
        }

        .backend {
          background-color: var(--color-emerald-600);
        }

        .database {
          background-color: var(--color-amber-600);
        }

        .mobile {
          background-color: var(--primary);
        }

        .tools {
          background-color: var(--color-slate-600);
        }
      }

      &:hover:not(.badge) {
        box-shadow: 0 0 0 1px var(--primary);

        transform: scale(1.01);

        svg {
          transform: rotate(360deg);
        }

        .skillskWrapper {
          div:first-of-type {
            animation: badge-1 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
          }

          div:nth-of-type(2) {
            animation: badge-2 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) 0.2s
              forwards;
          }

          div:nth-of-type(3) {
            animation: badge-3 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) 0.3s
              forwards;
          }

          div:nth-of-type(4) {
            animation: badge-4 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) 0.6s
              forwards;
          }

          div:nth-of-type(5) {
            animation: badge-5 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) 0.5s
              forwards;
          }

          div:nth-of-type(6) {
            animation: badge-6 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) 0.4s
              forwards;
          }

          div:nth-of-type(7) {
            animation: badge-7 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) 0.7s
              forwards;
          }

          div:nth-of-type(8) {
            animation: badge-8 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) 0.8s
              forwards;
          }

          div:nth-of-type(9) {
            animation: badge-9 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) 0.9s
              forwards;
          }
        }
      }
    }
  }
}

// -------------- DARK MODE -------------- //
:global(.dark) .skills {
  h1 {
    color: hsl(271, 91%, 65%, 0.5);
    text-shadow: 0 0 30px hsl(271, 91%, 65%, 0.15);

    -webkit-mask-image: linear-gradient(
      to bottom,
      hsl(271, 91%, 65%) 50%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to bottom,
      hsl(271, 91%, 65%) 50%,
      transparent 100%
    );
  }

  div {
    &:has([data-category="frontend"]),
    &:has([data-category="backend"]),
    &:has([data-category="database"]),
    &:has([data-category="mobile"]),
    &:has([data-category="tools & deployment"]) {
      background-color: var(--background-card);
    }
  }
}
// -------------- DARK MODE END -------------- //

// -------------- ANIMATION -------------- //
@keyframes badge-1 {
  0% {
    top: 50%;
    transform: translate(0, 0);
  }

  100% {
    top: calc(50% - 70px);
    transform: translateX(-30px);
  }
}

@keyframes badge-2 {
  0% {
    top: 50%;
    transform: translate(0, 0);
  }

  100% {
    top: calc(50% - 70px);
    transform: translateX(30px);
  }
}

@keyframes badge-3 {
  0% {
    top: 50%;
    transform: translate(0, 0);
  }

  100% {
    transform: translateX(65px);
  }
}

@keyframes badge-4 {
  0% {
    top: 50%;
    transform: translate(0, 0);
  }

  100% {
    transform: translateX(-65px);
  }
}

@keyframes badge-5 {
  0% {
    top: 50%;
    transform: translate(0, 0);
  }

  100% {
    top: calc(50% + 40px);
    transform: translateX(-42px);
  }
}

@keyframes badge-6 {
  0% {
    top: 50%;
    transform: translate(0, 0);
  }

  100% {
    top: calc(50% + 40px);
    transform: translateX(42px);
  }
}

@keyframes badge-7 {
  0% {
    top: 50%;
    transform: translate(0, 0);
  }

  100% {
    top: calc(50% - 60px - 60px);
    transform: translateX(-45px);
  }
}

@keyframes badge-8 {
  0% {
    top: 50%;
    transform: translate(0, 0);
  }

  100% {
    top: calc(50% - 60px - 60px);
    transform: translateX(32px);
  }
}

@keyframes badge-9 {
  0% {
    top: 50%;
    transform: translate(0, 0);
  }

  100% {
    top: calc(50% + 40px + 40px);
    transform: translateX(0);
  }
}
// -------------- ANIMATION END -------------- //

// -------------- RESPONSIVENESS -------------- //
@include responsiveness($breakpoint-sm) {
  .skills {
    &::after {
      background: radial-gradient(
        circle at top,
        hsl(220, 13%, 91%, 0.5) 0%,
        var(--background) 45rem
      );
    }

    :global(.dark) &::after {
      background: radial-gradient(
        circle at top,
        hsl(271, 91%, 65%, 0.5) 0%,
        var(--background) 45rem
      );
    }

    h1 {
      top: 0;
    }

    .content {
      margin-top: 5rem;

      grid-template-columns: 1fr 1fr;

      // Card
      div:last-of-type:not(.skillskWrapper div) {
        grid-column: span 2;
      }
    }
  }
}

@include responsiveness($breakpoint-tablet) {
  .skills {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@include responsiveness($breakpoint-laptop) {
  .skills {
    padding-left: 3rem;
    padding-right: 3rem;

    h1 {
      transform: translate(-45%, 50%);
    }

    .content {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
        "card1 card1 card2 card2 card3 card3"
        "card4 card4 card4 card5 card5 card5";

      // Card
      div:first-of-type:not(.skillskWrapper div) {
        grid-area: card1;
      }

      div:nth-of-type(2):not(.skillskWrapper div) {
        grid-area: card2;
      }

      div:nth-of-type(3):not(.skillskWrapper div) {
        grid-area: card3;
      }

      div:nth-of-type(4):not(.skillskWrapper div) {
        grid-area: card4;
      }

      div:last-of-type:not(.skillskWrapper div) {
        grid-area: card5;
      }
    }
  }
}

@include responsiveness($breakpoint-desktop) {
  .skills {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@include responsiveness($breakpoint-large-desktop) {
  .skills {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
// -------------- RESPONSIVENESS END -------------- //
